@import "tailwindcss";

.resp-link a {
    @apply text-blue-500 hover:text-blue-700;
}

.acesso-items a {
@apply hover:underline text-center
}

.menu-aberto a {
@apply px-4 py-2 rounded-md bg-[#194737] hover:bg-[#29966a] transition
}

.menu-dropdown a {
@apply block px-4 py-2 rounded hover:bg-[#76b99d] hover:text-white transition
}

main{
    @apply text-sm sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl
}

:root {
  --c-primary: #2e7c10;
  --c-primary-light: #71bd5a;
  --c-primary-soft: #8ae06e;
  --c-dark: #414141;
  --c-deep: #0b521f;
  --c-bg: #ffffff;
  --c-bg1: #2e7c10;
  --c-bg2: #0b521f;
  --c-text: #414141;
  --c-text1: #0b521f;
  --c-text2: #ffffff;
}

.dark {
  --c-primary: #8ae06e;
  --c-primary-light: #71bd5a;
  --c-primary-soft: #2e7c10;
  --c-dark: #ffffff;
  --c-deep: #8ae06e;
  --c-bg: #0b521f;
  --c-bg1: #2e7c10;
  --c-bg2: #0b521f;
  --c-text: #ffffff;
  --c-text1: #0b521f;
  --c-text2: #ffffff;
}

body {
  @apply transition-colors duration-300;
  background-color: var(--c-bg);
  color: var(--c-text);
}
